$dark: #212121;
$light: #efefef;
$lightgray: rgb(218, 218, 218);
$color: #b3e5fc;
$basic-dark-color: #212121;
$basic-light-color: #fff;
$fb-color: #3b5998;
$tw-color: #00aced;
$g-plus: #dd4b39;
$dribbble: #ea4c89;
$pinterest: #cb2027;
$insta: #bc2a8d;
